.box-category {
  margin-top: 2rem;
  width: 100%;

  .header {
    .box-title {
      font-weight: bold;
      font-size: 28px;
    }
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .box-item {
      position: relative;
      padding: 8px;
      display: flex;
      margin: 8px;
      flex-direction: column;
      width: fit-content;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
      transition: 0.3s;

      &:hover {
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
      }

      .box-item-image {
        width: 200px;
        overflow: hidden;
        aspect-ratio: 3/4;
      }

      .box-item-detail {
        color: rgb(0, 0, 0);
        margin-top: 6px;

        .star-box {
          color: #ffcc03;
        }

        .item-price {
          font-weight: bold;
          color: red;
        }
      }
    }
  }
}
