@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes shimmer {
  to {
    background-position-x: -20%;
  }
}
@keyframes shimmer {
  to {
    background-position-x: -20%;
  }
}
.container {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1350px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

#main {
  padding-top: 60px;
  min-height: calc(100vh - 100px);
}

#footer {
  height: 100px;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 8px;
}

.btn {
  padding: 10px 16px;
  outline: 0;
  border: 0;
  background: transparent;
  background-color: rgb(37, 38, 37);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.box-category {
  margin-top: 2rem;
  width: 100%;
}
.box-category .header .box-title {
  font-weight: bold;
  font-size: 28px;
}
.box-category .body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.box-category .body .box-item {
  position: relative;
  padding: 8px;
  display: flex;
  margin: 8px;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: 0.3s;
}
.box-category .body .box-item:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.box-category .body .box-item .box-item-image {
  width: 200px;
  overflow: hidden;
  aspect-ratio: 3/4;
}
.box-category .body .box-item .box-item-detail {
  color: rgb(0, 0, 0);
  margin-top: 6px;
}
.box-category .body .box-item .box-item-detail .star-box {
  color: #ffcc03;
}
.box-category .body .box-item .box-item-detail .item-price {
  font-weight: bold;
  color: red;
}

#navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
#navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 8px;
  padding: 0 1rem;
}
#navbar .nav-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#navbar .nav-side .item-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  transition: 0.2s;
  color: white;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#navbar .nav-side .item-navbar:hover:hover {
  color: rgb(196, 196, 196);
}
#navbar .nav-side .item-navbar:hover .sub-nav {
  display: flex;
}
#navbar .nav-side .item-navbar .sub-nav {
  position: absolute;
  top: 35px;
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 8px;
  background-color: #000;
}
#navbar .nav-side .item-navbar .sub-nav .item-sub-nav {
  padding: 8px;
  color: white;
  white-space: nowrap;
}
#navbar .nav-side .item-navbar .sub-nav .item-sub-nav:hover {
  color: rgb(196, 196, 196);
}
#navbar .auth-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  border: 1px solid rgb(145, 145, 145);
  padding: 8px;
}
#navbar .auth-side .auth-side-item-navbar {
  color: white;
}

.home-page .main-carousel {
  width: 100%;
  aspect-ratio: 3/1;
  max-height: 300px;
}
.home-page .main-carousel .carousel-cell {
  width: 100%;
  height: 100%;
}
.home-page .main-carousel .carousel-cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.detail-page .detail-box {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.detail-page .detail-box .image-side img {
  width: 300px;
  height: 400px;
}
.detail-page .detail-box .details-side {
  background-color: #f5f5f5;
  flex: 1;
  padding: 1rem;
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.detail-page .detail-box .details-side .head-side {
  flex: 1;
}
.detail-page .detail-box .details-side .head-side .price-box .price {
  color: red;
  font-weight: bold;
  font-size: 24px;
}
.detail-page .detail-box .details-side .head-side .title-detail {
  margin-top: 1rem;
}
.detail-page .detail-box .details-side .head-side .list-detail {
  list-style: disc;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.detail-page .detail-box .details-side .head-side .list-detail .item-detail {
  margin-bottom: 8px;
  font-style: italic;
}
.detail-page .detail-box .details-side .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-page .detail-box .details-side .buttons .btn-add-to-card {
  padding: 10px 16px;
  outline: 0;
  border: 0;
  background: transparent;
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  z-index: 102;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 8px;
}
.auth-dialog .title {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.auth-dialog .box-input {
  margin-bottom: 8px;
}
.auth-dialog .body {
  flex: 1;
}
.auth-dialog input {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 10px 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.auth-dialog .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.auth-dialog .buttons .btn {
  width: 120px;
}
.auth-dialog .buttons .btn-cancel {
  background-color: rgb(125, 125, 125);
}

.register-page .msg {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */